## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [2]:
# Google API Key
g_key = ""

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yellowknife,CA,62.4560,-114.3525,39.72,81,100,11.50,light rain
1,1,Chokurdakh,RU,70.6333,147.9167,21.52,83,100,4.27,overcast clouds
2,2,Neka,IR,36.6508,53.2990,58.14,85,3,2.84,clear sky
3,3,Busselton,AU,-33.6500,115.3333,56.48,53,0,16.26,clear sky
4,4,Upernavik,GL,72.7868,-56.1549,3.90,95,7,6.46,clear sky

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 78
What is your desired maximum temperature for your trip? 95

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
11,11,Karratha,AU,-20.7377,116.8463,78.21,36,0,26.02,clear sky
17,17,Bela,IN,25.9333,81.9833,85.28,52,61,11.21,light rain
18,18,Victoria,HK,22.2855,114.1577,78.24,76,74,11.01,broken clouds
22,22,Olinda,BR,-8.0089,-34.8553,82.13,78,40,12.66,scattered clouds
28,28,Katherine,AU,-14.4667,132.2667,86.32,54,3,11.50,clear sky
...,...,...,...,...,...,...,...,...,...,...
678,678,Gaoua,BF,10.2992,-3.2508,85.48,52,100,7.63,overcast clouds
680,680,Lovington,US,32.9440,-103.3485,82.33,11,89,4.00,overcast clouds
681,681,Garowe,SO,8.4054,48.4845,81.90,59,100,9.75,overcast clouds
682,682,Paso Blanco,PA,9.1333,-79.2333,80.22,83,75,9.22,broken clouds
685,685,Isangel,VU,-19.5500,169.2667,82.51,78,20,6.91,few clouds

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                184
City                   184
Country                184
Lat                    184
Lng                    184
Max Temp               184
Humidity               184
Cloudiness             184
Wind Speed             184
Current Description    184
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
11,11,Karratha,AU,-20.7377,116.8463,78.21,36,0,26.02,clear sky
17,17,Bela,IN,25.9333,81.9833,85.28,52,61,11.21,light rain
18,18,Victoria,HK,22.2855,114.1577,78.24,76,74,11.01,broken clouds
22,22,Olinda,BR,-8.0089,-34.8553,82.13,78,40,12.66,scattered clouds
28,28,Katherine,AU,-14.4667,132.2667,86.32,54,3,11.50,clear sky
...,...,...,...,...,...,...,...,...,...,...
678,678,Gaoua,BF,10.2992,-3.2508,85.48,52,100,7.63,overcast clouds
680,680,Lovington,US,32.9440,-103.3485,82.33,11,89,4.00,overcast clouds
681,681,Garowe,SO,8.4054,48.4845,81.90,59,100,9.75,overcast clouds
682,682,Paso Blanco,PA,9.1333,-79.2333,80.22,83,75,9.22,broken clouds
685,685,Isangel,VU,-19.5500,169.2667,82.51,78,20,6.91,few clouds

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Karratha,AU,78.21,clear sky,-20.7377,116.8463,
17,Bela,IN,85.28,light rain,25.9333,81.9833,
18,Victoria,HK,78.24,broken clouds,22.2855,114.1577,
22,Olinda,BR,82.13,scattered clouds,-8.0089,-34.8553,
28,Katherine,AU,86.32,clear sky,-14.4667,132.2667,
30,Namatanai,PG,84.52,light rain,-3.6667,152.4333,
38,Faanui,PF,81.46,scattered clouds,-16.4833,-151.7500,
40,Adre,TD,85.75,overcast clouds,13.4667,22.2000,
42,Lorengau,PG,84.29,overcast clouds,-2.0226,147.2712,
47,Nisia Floresta,BR,79.18,overcast clouds,-6.0911,-35.2086,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Karratha,AU,78.21,clear sky,-20.7377,116.8463,ibis Styles Karratha
17,Bela,IN,85.28,light rain,25.9333,81.9833,Raj Bhawan
18,Victoria,HK,78.24,broken clouds,22.2855,114.1577,Mini Hotel Central
22,Olinda,BR,82.13,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
28,Katherine,AU,86.32,clear sky,-14.4667,132.2667,Pine Tree Motel

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))